// .example {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
//     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//   line-height: 1.5;
//   background-color: #fff;
//   color: #2f2f37;
//   max-width: 960px;
//   padding: 16px;
// }

// .example code {
//   font-family: monospace;
//   font-size: 16px;
//   font-weight: 700;
//   background-color: #ff6b0a;
//   color: #fff;
//   padding: 2px 6px;
//   border-radius: 2px;
// }

// .example .background {
//   height: 240px;
//   // ❗️❗️❗️ The path to images from a SASS file
//   // is always the same as from the css folder.
//   background-image: url('../images/logo.png');
//   background-size: cover;
//   background-position: center;
// }
body {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.gallery {
  position: relative;
  top: 45px;
  padding: 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 17vw;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      max-width: 100%;
      min-height: 100%;
    }
  }
}

.search-form {
  box-shadow: 0 0 10px rgb(43, 42, 42);
  z-index: 100;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgb(55, 112, 158);
  padding-top: 10px;
  padding-bottom: 10px;
  input {
    border-radius: 10px;
    border-color: transparent;
  }
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 1px grey;
  &:hover,
  &:focus {
    box-shadow: 0 0 3px grey;
  }
}

.info {
  display: flex;
  justify-content: space-around;
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    span {
      color: rgb(55, 112, 158);
    }
  }
}

button {
  color: rgb(255, 255, 255);
  background-color: rgb(80, 153, 212);
  border-color: transparent;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  font-size: inherit;
  &:hover,
  &:focus {
    color: rgb(226, 227, 240);
    background-color: rgb(59, 132, 192);
    cursor: pointer;
  }
}

.submit-btn {
  margin-left: 10px;
}

.load-more {
  margin-left: auto;
  margin-right: auto;
}

.is-hidden {
  display: none;
}
